body{
  background: powderblue;
  font-family: 'Avenir', sans-serif;

  .container{
    background: cornsilk;
    border-radius: 12px;
    margin: 10px 7%;
    padding: 15px;
    width: 85%;

    .main-content{
      background: azure;
      border: 2px solid burlywood;
      border-radius: 12px;
      padding: 10px 5%;

      h1{
        text-align: center;
      }
    }
  }
}
